<!-- 应用程序配置文件.config添加 
  <configSections>
    <section name="tinyConfigFile" type="TinyFx.Configuration.TinyFxSectionHandler, TinyFx" />
  </configSections>
  <tinyConfigFile>
    <add ip="172.28.0.0;204.68.5.48" tinyfx="Configs/tinyfx.debug.config" log4net="Configs/log4net.debug.config" />
    <add ip="(default)" tinyfx="Configs/tinyfx.config" log4net="Configs/log4net.config" />
  </tinyConfigFile>
-->
<tinyFx>
  <!--logger: log4net.config中设置的logger-->
  <project id="osc:webapi" desc="XX项目说明" logger="defaultLogger" running="dev" />
  
  <appSettings>
    <add key="tinyFx:demo" value="abcde"></add>
  </appSettings>
  
  <data defaultConnectionString="sqlserver" dataRouter="" instProvider="">
    <!--<defaultInstProvider enabled ="true" logger="" longQueryTime="5"  />-->
    <connectionStrings>
      <add name="sqlserver" providerName="sqlserver" connectionString="Data Source=172.28.8.120;Initial Catalog=TestDB;User ID=sa;Password=sa;" readConnectionString="Data Source=172.28.8.120;Initial Catalog=TestDB;User ID=sa;Password=sa;" commandTimeout="30" instProvider="" ormMap="Osc.DAL.demodb;Osc.DAL.testdb"/>
      <!--
      <add name="mysql" providerName="mysql" connectionString="server=172.28.9.211;user id=root;pwd=root;database=test" commandTimeout="30;Allow User Variables=True" encrypt="None" instProvider=""/>
      <add name="oracle" providerName="odac" connectionString="Data Source=//172.28.8.31/test.og;User ID=gl_spread;Password=123456;" encrypt="None" instProvider=""/>
      -->
    </connectionStrings>
  </data>
  
  <!--<log4net defaultLogger="">
    <debugLogger name="" enabled="" redisName="" sliding="" />
    <errorLogger name="" enabled="" />
  </log4net>-->
  
  <autoMapper enabled="true">
    <assemblies>
      <!--<add assembly="OSC.Models.dll" />-->
    </assemblies>
  </autoMapper>
  
  <redis defaultConnectionString="baidu">
    <connectionStrings>
      <!--
      abortConnect={bool} true 无有效服务器则不再创建连接
      allowAdmin={bool} false 是否允许有风险的管理命令
      channelPrefix={string} null 所有pub/sub操作的可选通道前缀
      connectRetry={int} 3 在初始连接期间重复连接尝试的次数
      connectTimeout={int} 5000 连接Timeout
      configChannel={string} __Booksleeve_MasterChanged 用于传送配置更改的广播channel名称
      defaultDatabase={int} null 默认数据库索引，从 0 到 databases-1
      keepAlive={int} -1 心跳间隔。发送消息以帮助保持套接字活着的时间（秒）
      name={string} null clientName,redis内部连接标识
      password={string} null redis服务器密码
      proxy={proxy type} Proxy.None 正在使用的代理类型（如果有）; 例如“twemproxy”
      resolveDns={bool} false 是否使用dns
      serviceName={string} null 暂未使用
      ssl={bool} false 是否使用SSL
      sslHost={string} null 在服务器的证书上强制执行特定的SSL主机标识
      sslProtocols={enum} null 使用加密连接时支持Ssl / Tls版本。 使用'|'来提供多个值
      syncTimeout={int} 1000 同步操作timeout时间(ms)
      tiebreaker={string} __Booksleeve_TieBreak 
      version={string} 3.0 Redis版本级别
      writeBuffer={int} 4096 输出缓冲区的大小
      -->
      <add name="baidu" connectionString="redis0:6379,redis1:6380,keepAlive=180,version=2.8.8,$CLIENT=,$CLUSTER=,$CONFIG=,$ECHO=,$INFO=,$PING=" database="0" keyPrefix="" serializer="" />
      <add name="sina" connectionString="" database="0" keyPrefix="" serializer="" />
    </connectionStrings>
  </redis>
  
  <ipLocator resourcePath="" />
  <sevenZipSharp resourcePath="" />
  <sharpICTCLAS resourcePath="" />
  <aspNet>
    <!--virtualPaths需要添加<system.webServer><modules runAllManagedModulesForAllRequests="true"></system.webServer>-->
    <virtualPaths>
      <!--<add assembly="TinyFx.AspNet.WebForm.dll" resourcePath="TinyFx.AspNet.WebForm.Controls" requestPath="~/TinyFxResource/" />-->
    </virtualPaths>
    <webForm useControls="false"></webForm>
    <webApi>
      <debug logRequest="false" logResponse="false" logger="debugLogger" />
      <cors enabled="true" origins="http://baidu.com,https://api.ourpiao.com" headers="*" methods="*" />
      <version mode="url" />
      <jwtAuth enabled="true" responseOKStatusCode="false" secretKey="wGICoIWVErF44SJn" tokenExpiry="365.00:00:00"/>
      <resultFilter enabled="true" />
      <unhandledException enabled="true" responseOKStatusCode="false" responseExceptionDetail="false" logger="" />
      <jsonSerializer enabled="true" defaultValueHandling="Include" nullValueHandling="Include" dateFormatHandling="MicrosoftDateFormat" dateFormatString="yyyy-MM-dd HH:mm:ss" camelCasePropertyNames="true" />
    </webApi>
  </aspNet>
  <aspNetCore>
    <mvc></mvc>
    <webApi></webApi>
  </aspNetCore>
</tinyFx>
